@model Tag

<form method="post">
   
   <p class="alert alert-danger">Are you sure to delete This tag :@Model.TagName</p>
   <input type="submit" class="btn btn-danger btn-block w-100" value="Delete"/>
    <a href="/admin/tag" class="btn btn-secondary btn-block w-100">Geri</a>
</form>
