@model Reklam

<table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Reklam Name</th>
            <th>Hour</th>
            <th>UpData</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.ReklamName</td>
            <td>@Model.CreateData.ToString("MM/dd/yyyy H:mm")</td>
            <td>@Model.UpdatedDate.ToString("MM/dd/yyyy H:mm")</td>
        </tr>
    </tbody>
</table>